<mat-toolbar color="primary" class="toolbar-header">
  <div class="title">
    <button
      mat-icon-button
      class="next-left"
      (click)="previousMonth()"
      matTooltip="Retroceder Mês"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="month-title">
      <h1 class="force-font" (click)="goToTodayTitle()">
        {{ (currentMonth | date: 'LLLL')?.toCapitalizeCase() }}
      </h1>
    </div>
    <button
      mat-icon-button
      class="next-right"
      (click)="nextMonth()"
      matTooltip="Avançar Mês"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      mat-raised-button
      class="force-font today-option"
      (click)="goToToday()"
      matTooltip="Ir para o dia de hoje"
    >
      Hoje
    </button>
  </div>
  <div class="options">
    <ng-container *ngIf="isDev">
      <button
        mat-icon-button
        class="add-subject"
        (click)="resetData()"
        matTooltip="Resetar dados"
      >
        <mat-icon>cached</mat-icon>
      </button>
    </ng-container>

    <mat-icon class="mr-1">brightness_5</mat-icon>
    <mat-slide-toggle
      [checked]="isDarkOn"
      (change)="toggleDarkMode()"
      class="mr-1"
      matTooltip="Habilitar/Desabilitar Modo Escuro"
    ></mat-slide-toggle>
    <mat-icon class="mr-1">bedtime</mat-icon>

    <button
      mat-icon-button
      class="add-subject"
      (click)="openImportExport()"
      matTooltip="Importar/Exportar dados"
    >
      <mat-icon>import_export</mat-icon>
    </button>
    <button
      mat-icon-button
      class="add-subject"
      (click)="showRemoveModal()"
      matTooltip="Remover"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <button
      mat-icon-button
      class="add-subject"
      (click)="showAddModal()"
      matTooltip="Adicionar"
    >
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field id="search-toolbar" class="normalize-font">
      <mat-label>Pesquisa</mat-label>
      <input
        matInput
        (keyup)="getData()"
        [(ngModel)]="textFilter"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</mat-toolbar>

<app-studies-day-list
  [actualDay]="now.getDate()"
  [monthsForward]="monthsForward"
  [subjectPerDayList]="subjectPerDayList"
></app-studies-day-list>
