
/* até 800px de largura */
/* MOBILE */
@media (max-width: 1060px) {
  .toolbar-header {
    height: 20%;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    width: auto;
    justify-content: center;
    margin: 0 0 1rem;
  }

  .next-right {
    margin-right: 0;
  }

  .today-option {
    display: none;
  }

  .options {
    width: auto;
    justify-content: center;
  }

  .modal-subheader {
    padding: 0;
  }

  .modal-container {
    height: 98%;
    width: 95%;
  }

  .modal-content {
    margin-top: 1rem;
    padding: 0 2rem;
  }
}
