
.title-alert {
    align-items: flex-end;
}

@media (max-width: 800px) {
    .modal-header {
        align-items: flex-start;
    }

    .title-alert {
        flex-direction: column;
        align-items: flex-start;
    }
}

.close-alert {
    margin-left: 2rem;
}

.alert-icon {
    margin-right: 1rem;
    font-size: 2rem;
}

.text-title {
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
}

.text-content {
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.mg-t-1 {
    margin-top: 1rem;
}