<div class="modal-header">
  <h4 class="force-font">Adicionar</h4>

  <button
    mat-icon-button
    [mat-dialog-close]="true"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-tab-group
  class="tab-label-top"
  mat-align-tabs="center"
  animationDuration="0ms"
  (selectedTabChange)="changeTabType($event)"
>
  <mat-dialog-content>
    <mat-tab label="Disciplina">
      <ng-template matTabContent >
        <form
          id="subjectForm"
          #formSubjectElement="ngForm"
          (ngSubmit)="saveSubject(formSubjectElement)"
          [formGroup]="formSubject"
          class="tab-content tab-label-top"
        >
          <mat-form-field class="normalize-font input-container" appearance="outline" hideRequiredMarker>
            <mat-label>Disciplina</mat-label>
            <input
              matInput
              placeholder="Nome da Disciplina"
              formControlName="subjectName"
            />
            <mat-error *ngIf="formSubject.invalid">Este campo é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field class="normalize-font input-container" appearance="outline" hideRequiredMarker>
            <mat-label>Frente</mat-label>
            <mat-select formControlName="subtopicId" [disabled]="subtopics.length === 0">
              <ng-container *ngFor="let st of subtopics">
                <mat-option [value]="st.id">{{ st.name }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-hint *ngIf="subtopics.length === 0">
              Nenhuma frente inserida
            </mat-hint>
            <mat-error *ngIf="formSubject.invalid">Este campo é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field class="normalize-font input-container" appearance="outline" hideRequiredMarker>
            <mat-label>Matéria</mat-label>
            <mat-select formControlName="materiaId" [disabled]="materias.length === 0">
              <ng-container *ngFor="let mt of materias">
                <mat-option [value]="mt.id">{{ mt.name }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-hint *ngIf="materias.length === 0">
              Nenhuma matéria inserida
            </mat-hint>
            <mat-error *ngIf="formSubject.invalid">Este campo é obrigatório.</mat-error>
          </mat-form-field>

          <mat-form-field class="normalize-font input-container" appearance="outline" color="primary" hideRequiredMarker>
            <mat-label>Data de Início</mat-label>
            <input matInput [matDatepicker]="picker" class="force-color" formControlName="dataInicio" [disabled]="true">
            <mat-datepicker-toggle matSuffix [for]="picker" class="force-color"></mat-datepicker-toggle>
            <mat-datepicker touchUi [disabled]="false" #picker></mat-datepicker>
            <mat-error *ngIf="formSubject.invalid">Este campo é obrigatório.</mat-error>
          </mat-form-field>

          <mat-list>
            <mat-list-item *ngFor="let day of subjectDays">
              <h4 mat-line class="normalize-font">{{ day }}</h4>
              <p class="normalize-font">{{ getDateAddedDay(day) | date: 'dd/MM/yyyy' }}</p>
            </mat-list-item>
          </mat-list>
        </form>
      </ng-template>
    </mat-tab>

    <mat-tab label="Frente">
      <ng-template matTabContent>
        <form
          id="subtopicForm"
          #formSubtopicElement="ngForm"
          (ngSubmit)="saveSubtopic(formSubtopicElement)"
          [formGroup]="formSubtopic"
          class="tab-content tab-label-top"
        >
          <mat-form-field class="normalize-font tab-label-top" appearance="outline" hideRequiredMarker>
            <mat-label>Frente</mat-label>
            <input
              matInput
              placeholder="Nome da Frente"
              formControlName="subtopicName"
            />
            <mat-error *ngIf="formSubtopic.invalid">Este campo é obrigatório.</mat-error>
          </mat-form-field>
        </form>
      </ng-template>
    </mat-tab>

    <mat-tab label="Matéria">
      <ng-template matTabContent>
        <form
          id="materiaForm"
          #formMateriaElement="ngForm"
          (ngSubmit)="saveMateria(formMateriaElement)"
          [formGroup]="formMateria"
          class="tab-content tab-label-top"
        >
          <mat-form-field class="normalize-font tab-label-top" appearance="outline" hideRequiredMarker>
            <mat-label>Matéria</mat-label>
            <input
              matInput
              placeholder="Nome da Matéria"
              formControlName="materiaName"
            />
            <mat-error *ngIf="formMateria.invalid">Este campo é obrigatório.</mat-error>
          </mat-form-field>
          <mat-form-field class="normalize-font input-container" appearance="outline" hideRequiredMarker>
            <mat-label>Cor de Destaque</mat-label>
            <input matInput type="color" formControlName="materiaColor">
            <mat-error *ngIf="formMateria.invalid">Este campo é obrigatório.</mat-error>
          </mat-form-field>
        </form>
      </ng-template>
    </mat-tab>
  </mat-dialog-content>
</mat-tab-group>

<mat-dialog-actions align="start">
  <button
    mat-flat-button
    color="primary"
    type="submit"
    form="subjectForm"
    *ngIf="tabType.valueOf() === 0"
    [disabled]="formSubject.invalid"
  >
    Salvar
  </button>
  <button
    mat-flat-button
    color="accent"
    *ngIf="tabType.valueOf() === 0"
  >
    Alterar Repetições
  </button>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    form="subtopicForm"
    *ngIf="tabType.valueOf() === 1"
    [disabled]="formSubtopic.invalid"
  >
    Salvar
  </button>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    form="materiaForm"
    *ngIf="tabType.valueOf() === 2"
    [disabled]="formMateria.invalid"
  >
    Salvar
  </button>
  <button mat-flat-button [mat-dialog-close]="true">Cancelar</button>
</mat-dialog-actions>
