/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s ease;
}

*:not(mat-icon){
  font-family: 'Ubuntu', sans-serif !important;
}

.force-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.normalize-font {
  font-size: 16px;
}

.flex {
  display: flex;
}

body {
  height: 100vh;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button, input, textarea, select {
  font-size: 1rem;
}

button {
  padding: 0.5rem;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
}

select {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

input[type="text"],
input[type="date"] {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 2px solid black;
  border-radius: 0.5rem;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0.3rem;
}
input[type="color"]::-webkit-color-swatch {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
}

.modal-container {
  height: 90%;
  min-width: 60%;
}

@media (max-width: 800px) {
  .modal-container {
    height: 98%;
    min-width: 95%;
  }
}

.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-label-top {
  padding-top: 1rem;
}


/* MODALS */

.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-label-top {
  padding-top: 1rem;
}

.input-container {
  margin: 1rem 0 0 0;
}

.input-container > input,
.input-container > select {
  width: 100%;
  -webkit-appearance: none;
  background-color: white;
}

.tab-content {
  display: flex;
  flex-direction: column;
}
